*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins,sans-serif';
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(100deg,#e7a11d,#caa233);
    color: #fff;
    padding-top:4%;
    padding-left: 30%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: whitesmoke;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 320px 20px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: aliceblue;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 10px;
    cursor: text;
}
.input-box:focus::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: black;
    animation: blink-caret 1s infinite;
}
@keyframes blink-caret {
    from, to {
      opacity: 0;
    }
}
.input-box.typing {
    animation:normal;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}